

<div class="trainer-main">

  <div class="contaienr">
    <h1>トレーナーを探す</h1>
  </div>

  <section class="select">
    <div class="select">
      <ul>
        <li class="lfloat"><a href="" class="navy reverse">人気上昇中</a></li>
        <li class="lfloat"><a href="" class="navy reverse">注目の新着トレーナー</a></li>
        <li class="lfloat"><a href="" class="navy reverse">すべてのトレーナー</a></li>
        <li class="lfloat"><a href="" class="navy reverse">カテゴリから探す</a></li>
        <li class="rfloat">
          <form action="">
            <input type="text" placeholder="素敵な言葉をここに" style="width: 240px;" >
            <input type="submit">
          </form>
        </li>
      </ul>
    </div>
  </section>

</div>
