

<div class="about-content">

    <div class="mission-top">
      <div class="bg-inner">
        <div class="container">
          <div class="mission-title">
            <h1>私たちのミッション</h1>
          </div>
      </div>
    </div>
  </div>


<div class="container">

  <div class="row about-top">

    <div class="col-md-6">
      <h2 class="msg-head msg-left">
      <span class="quote quote-left">"</span>
        プロトレーナーは、<br>
        スポーツを変える
      <span class="quote quote-right">"</span>
      </h2>
    </div>

    <div class="col-md-6">
      <p class="msg-right">
        <br>
        プロトレーナーはスポーツを変える。<br>
        そしてあなたの人生を変える。<br>
        <br>
        この信念は、私たち自身がスポーツで人生を変えてきた原体験に基づいています。 <br>
        この原体験をもとに、私たちは 「スポーツ界を変える」 ことを理念としています。<br>
        <br>
        トレーナーをいつでも、どこででも気軽に契約でき、プロと一緒に練習を積むことができます。<br>
        <br>
        私たちと一緒にスポーツを楽しみませんか？
      </p>
    </div>


  </div>
</div>


</div>
