

<div class="about-content">

  <div class="bg-inner">
    <div class="about-header">
      <h1>このサイトについて</h1>

    </div>
  </div>

    <div class="about-sc1">
      <h2>日本にもっとプロのトレーナーを</h2>
      <p>
        プロのトレーナーをいつでもどこでも派遣いたします。
      </p>
    </div>

    <div class="about-sc2">
      
    </div>




</div>
