

<div class="about-content">
  <div class="container">

    <div class="mission-top">
      <div class="bg-inner">
        <div class="mission-title">
          <h1>我々のミッション！</h1>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-6">

      </div>
      <div class="col-md-6">

      </div>
    </div>

  </div>


</div>
