

<div class="home-all">

<div class="home-image">
  <div class="bg-inner">
    <h1>プロのトレーナーを育てる、生み出す</h1>
    <p>日本のスポーツ界を根底から覆す仕組み作り</p>
  </div>
</div>



<div class="text-center home-title">
  <h2>
    <i class="fa fa-futbol-o" aria-hidden="true"></i>
      新着トレーナー
  </h2>
</div>

<div class="container">


<div class="row">

  <div class="col-sm-4 col-md-3  trainer trainer">
    <div class="thumbnail">
      <img src="https://placehold.jp/150x150.png" alt="">
      <div class="caption text-center ">
        <h3>名前</h3>
        <p>年齢</p>
        <p><a href="#" class="btn btn-default" role="button">詳しく見る</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-3  trainer">
    <div class="thumbnail">
      <img src="https://placehold.jp/150x150.png" alt="">
      <div class="caption text-center ">
        <h3>名前</h3>
        <p>年齢</p>
        <p><a href="#" class="btn btn-default" role="button">詳しく見る</a></p>
      </div>
    </div>
</div>

<div class="col-sm-4 col-md-3  trainer">
  <div class="thumbnail">
    <img src="https://placehold.jp/150x150.png" alt="">
    <div class="caption text-center ">
      <h3>名前</h3>
      <p>年齢</p>
      <p><a href="#" class="btn btn-default" role="button">詳しく見る</a></p>
    </div>
  </div>
</div>

  <div class="col-sm-4 col-md-3  trainer">
    <div class="thumbnail">
      <img src="https://placehold.jp/150x150.png" alt="">
      <div class="caption text-center ">
        <h3>名前</h3>
        <p>年齢</p>
        <p><a href="#" class="btn btn-default" role="button">詳しく見る</a></p>
      </div>
    </div>
  </div>

    <div class="col-sm-4 col-md-3  trainer">
      <div class="thumbnail">
        <img src="https://placehold.jp/150x150.png" alt="">
        <div class="caption text-center ">
          <h3>名前</h3>
          <p>年齢</p>
          <p><a href="#" class="btn btn-default" role="button">詳しく見る</a></p>
        </div>
      </div>
    </div>

      <div class="col-sm-4 col-md-3  trainer">
        <div class="thumbnail">
          <img src="https://placehold.jp/150x150.png" alt="">
          <div class="caption text-center ">
            <h3>名前</h3>
            <p>年齢</p>
            <p><a href="#" class="btn btn-default" role="button">詳しく見る</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-md-3  trainer">
        <div class="thumbnail">
          <img src="https://placehold.jp/150x150.png" alt="">
          <div class="caption text-center ">
            <h3>名前</h3>
            <p>年齢</p>
            <p><a href="#" class="btn btn-default" role="button">詳しく見る</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-md-3  trainer">
        <div class="thumbnail">
          <img src="https://placehold.jp/150x150.png" alt="">
          <div class="caption text-center ">
            <h3>名前</h3>
            <p>年齢</p>
            <p><a href="#" class="btn btn-default" role="button">詳しく見る</a></p>
          </div>
        </div>
      </div>

    </div>

</div>



</div>
