

<div class="container">
  <div class="money-plan">
    <h2>契約プラン</h2>


    <dl class="plan-colum">
      <dt>1日契約</dt>
      <dd>5,000円</dd>
    </dl>

    <dl class="plan-colum">
      <dt>1週間契約</dt>
      <dd>30,000円</dd>
    </dl>

    <dl class="plan-colum">
      <dt>1ヶ月契約</dt>
      <dd>150,000円</dd>
    </dl>

    <dl class="plan-colum">
      <dt>半年契約</dt>
      <dd>トレーナーと相談</dd>
    </dl>

    <dl class="plan-colum">
      <dt>1年契約</dt>
      <dd>トレーナーと相談</dd>
    </dl>

  </div>
</div>
