
    <div class="row">
      <div class="container sign-main">

      <div class="col-md-6 signup">
        <h3>新規登録</h3>
        <p>
          メールアドレスを利用して新規登録
        </p>
        <form class="post-main" action="index.html" method="post">
          <input type="text" name="email" value="" id="mail-post" placeholder="メールアドレス">
          <div class="submit">
            <input type="submit" name="name" id="check-mail" value="確認メールを送信">
          </div>
        </form>
        <p class="or">or</p>

      <div class="sns-box">

        <div class="facebook-box">
          <a href="#">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            Facebookを利用して新規登録する
          </a>
        </div>

        <div class="twitter-box">
          <a href="#">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            Twitterを利用して新規登録する
          </a>
        </div>
      </div>

    </div>

      <div class="col-md-6 signin">

        <h3>ログイン</h3>

      <form class="" action="index.html" method="post">
        <label for="">ユーザー名 or メールアドレス</label>
        <input type="text" name="name" value="" placeholder="username" id="user-input">
        <label for="">パスワード</label>
        <input type="text" name="password" value="" placeholder="password" id="pass-input">

        <label for="" class="saved">
          <input type="checkbox" name="name" value="">
          ログイン状態を保存する(オススメ)
        </label>

        <div class="submit-box">
          <input type="submit" name="name" value="ログイン">
        </div>
      </form>

      <p class="or-2">or</p>

    <div class="sns-yoko">

      <div class="facebook">
        <a href="#">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          Facebookを利用して新規登録する
        </a>
      </div>

      <div class="twitter">
        <a href="#">
          <i class="fa fa-twitter" aria-hidden="true"></i>
          Twitterを利用して新規登録する
        </a>
      </div>

    </div>

    </div>
    </div>

</div>
