
    <div class="row">
      <div class="container sign-main">

      <div class="col-md-6 signup">
        <h3>新規登録</h3>
        <p>
          メールアドレスを利用して新規登録
        </p>
        <form class="post-main" action="index.html" method="post">
          <input type="text" name="email" value="" id="mail-post" placeholder="メールアドレス">
          <div class="submit">
            <input type="submit" name="name" id="check-mail" value="確認メールを送信">
          </div>
        </form>
        <p class="or">OR</p>

      <div class="sns-box">

        <div class="facebook-box">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          Facebookを利用して新規登録する
        </div>

        <div class="twitter-box">
          <i class="fa fa-twitter" aria-hidden="true"></i>
          Twitterを利用して新規登録する
        </div>
      </div>

    </div>




      <div class="col-md-6 signin">
        <h3>ログイン</h3>
      </div>
    </div>


</div>
