
    <div class="row">
      <div class="container sign-main">
      <div class="col-md-6 signup">
        <h3>新規登録</h3>
        <p>
          メールアドレスを利用して新規登録
        </p>
      </div>
      <div class="col-md-6 signin">
        <h3>ログイン</h3>
      </div>
    </div>


</div>
