<!DOCTYPE html>
<html>
<head>
  <title>SportsCreater</title>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="slick/slick.css">
  <link rel="stylesheet" href="slick/slick-theme.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="slick/slick.min.js"></script>
  </head>
<body>
<div class="top-header">
  <h2>Sports Creator</h2>
</div>

  <nav class="nav-menu">
    <ul>
      <li><a href="#">トップへ</a></li>
      <li class="active"><a href="#">初めての方へ</a></li>
      <li><a href="#">料金プラン</a></li>
      <li><a href="#">トレーナー検索</a></li>
      <li><a href="#">新規登録</a></li>
    </ul>
  </nav>















<%= yield %>
