/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*  共通  */

body {
  background-color: #F7F7F7;

}


/*  header  */

.top-header {
  background-color: #FFF;
  height: 50px;
  margin: 0;
}

.top-header h2 {
  line-height: 50px;
  margin-left: 20px;
  font-weight: 900;
}

.nav-menu {
  height: 50px;
  width: 100%;
  line-height: 50px;
  background: #efefef;
  padding-left: 100px;
}

.nav-menu  li {
  float: left;
  text-align: center;
  border-right: 1px solid #bcbcbc;

}

.nav-menu li:last-child {
  border-right: none;
}



.nav-menu a {
    display: block;
    float: left;
    color: #333333!important;
    padding: 0 15px;
    font-size: 15px;
    position: relative;
    z-index: 100;
    text-decoration: none;
}
