// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// background-inner

.bg-inner {
        padding-top: 220px;
        padding-bottom: 220px;
        background-color: rgba(0, 0, 0, .5);
        text-align: center;
      }



// home.html.erb

// carousel

.carousel-inner {
  // height: 500px;
}


.home-title {
  margin-top: 90px;
  margin-bottom: 70px;
  }

.trainer {
  margin-bottom: 30px;
}



 // about.html.erb


 .mission-top {
   background-image: url("sports.jpeg");
   background-size: contain;
  }

.mission-title {
  h1 {
    color: #FFF;
    font-size: 65px;
    -webkit-font-smoothing: antialiased;
    }

}


.about-top {
  margin-top: 150px;
  margin-bottom: 100px;
}

.msg-right {
  color: #7994A7;
  margin-left: 20px;
}

.msg-head {
  line-height: 1.7;
  text-align: center;
  font-size: 3.5em;
  color: #7994A7;

}

.quote {
    font-family: 'Coustard', serif;
    color: #44dcc0;
    position: absolute;
    top: -5px;
    font-size: 2.0em;
}

.quote-left {

    margin-left: -10%;

}

.quote-right{

    margin-left: 2%;

}




// money.html.erb


.money-plan {

  h2 {
    margin-top: 100px;
    margin-bottom: 70px;
  }
}



.plan-colum {

    width: 960px;
    overflow: hidden;
    font-size: 17px;
    color: #1d2c5a;
    margin-top: 40px;
    border: 1px solid #d2d2d2;

    dt {

    display: table-cell;
    width: 220px;
    background-color: #f1f3f6;
    border-right: 1px solid #d2d2d2;
    padding: 15px 30px;
    vertical-align: middle;
  }

  dd {
    position: relative;
    display: table-cell;
    vertical-align: top;
    padding: 15px 30px;
  }



}
