// Place all the styles related to the Trainer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.trainer-main {
  background-color: #fbfaf2;
  height: 500px;

  h1 {
    padding: 100px;
    font-size: 36px;
    font-weight: bold;
  }
}

section {
  display: block;
}

.select {
  margin-left: 50px;
  display: inline-block;

  input[type="text"] {
    padding: 7px 10px;
  }

}



.lfloat {
  float: left;
  margin-left: 20px;
}

.rfloat {
  float: right;
  padding: 30px;
}

.navy {
  color: #425b71;
  padding: 12px;
  border: 2px solid #425b71;
  border-radius: 5px;
  letter-spacing: 10px;

  &:hover {
    text-decoration: none;
    opacity: .6;
    transition: all 0.2s ease-out;
    }
}
