


// users/new.html.erb

.sign-main {
  margin-top: 50px;
}


.signup {
  border-radius: 10px;
  background-color: #F6F8FA;
  padding: 30px;

  h3 {
    margin-bottom: 40px;
  }

  p {
    font-weight: bold;
  }

}

.signin {
  padding: 30px;
}


.post-main {
  margin-top: 15px;
}

.or {
  text-align: center;
  margin-top: 100px;
  color: #04BD41;
  font-size: 15px;
  font-weight: bold;
}

#mail-post {
  width: 65%;
  float: left;
  border-radius: 1px;
  padding: 5px;
}

#check-mail {
  float: left;
  padding: 5px;
  background-color: #00edd0;
  border-color: #00edd0;
  color: #FFF;

}

.sns-box {
  display: block;
  border-radius: 5px;
}

.facebook-box {
  background-color: #5D9CEC;
  padding: 5px;
  color: #FFF;
}
